*, 
*::before, 
*::after {
    box-sizing: border-box;
    }
* {
    margin: 0;
}
    
body {
    line-height: 1.5;
    height: 100vh;
    background-color: #004;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: roboto, sans-serif;
    gap: 0.5rem;
}

h1, .info {
    color: darkorange;
}

main {
    width: 80%;
    height: 90%;
    background-color: #004;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.1rem;
    flex: 1;
}

.info {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.info div {
    flex: 1;
}

#winner-field {
    text-align: end;
    font-weight: bold;
    font-size: 1.5rem;
    text-wrap: nowrap;
}

#reset-button {
    width: 30%;
    font-weight: bold;
    background-color: darkorange;
    border-color: darkorange;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.button {
    background-color: darkgoldenrod;
    border-color:  darkgoldenrod;
    border-radius: 0.5rem;
    flex: 1;
}

.player-one-cell {
    color: rgb(2, 68, 2);
    background-color: rgb(1, 255, 24);
    border-color: rgb(1, 255, 24);
}

.player-two-cell {
    color: rgb(68, 2, 2);
    background-color: rgb(255, 1, 24);
    border-color: rgb(255, 1, 24);
}

.player-one-cell,
.player-two-cell {
    font-size: 10rem;
}

.player-one-wins {
    border-color: greenyellow;
    background-color: greenyellow;
    box-shadow: 0px 0px 20px whitesmoke;
}

.player-two-loses {
    border-color: darkred;
    background-color: darkred;
}

.player-one-loses {
    background-color: darkgreen;
    border-color: darkgreen;;
}

.player-two-wins {
    background-color: rgb(255, 100, 100);
    border-color: rgb(255, 100, 100);
    box-shadow: 0px 0px 20px whitesmoke;
}